version: 2

jobs:
    build:
        docker:
            - image: ubuntu:18.04
            - image: mdillon/postgis:11
        steps:
            - run:
                name: "Add ubuntu-toolchain"
                command: |
                  apt-get update -y \
                  && apt-get install -y build-essential python software-properties-common git postgresql-client curl wget gnupg2 \
                  && add-apt-repository --yes ppa:ubuntu-toolchain-r/test \
                  && apt-get update -y \
                  && apt-get -y install libstdc++-5-dev gcc-4.8 g++-4.8; export CXX=g++-4.8

            - checkout

            - run:
                name: "Install Rust"
                command: |
                  curl https://sh.rustup.rs -sSf > /tmp/rustup.sh \
                  && sh /tmp/rustup.sh -y \
                  && echo "export PATH=$HOME/.cargo/bin:$PATH" >> $BASH_ENV

            - run:
                name: "Install NodeJS"
                command: |
                  curl 'https://nodejs.org/dist/v10.15.3/node-v10.15.3-linux-x64.tar.gz' | tar -xzv \
                  && cp ./node-v10.15.3-linux-x64/bin/node /usr/bin/ \
                  && ./node-v10.15.3-linux-x64/bin/npm install -g yarn \
                  && ./node-v10.15.3-linux-x64/bin/npm install -g npm \
                  && echo "export PATH=$(yarn global bin):$PATH" >> $BASH_ENV \
                  yarn install

            - run:
                name: "Install Neon"
                command: "yarn global add neon-cli@0.3.1"
            - run:
                name: "Yarn Install"
                command: yarn build && yarn install
            - run:
                name: "Cargo Test"
                command: cd native/ && cargo test --release
            - run:
                name: "Yarn Lint"
                command: "yarn run lint"
            - run:
                name: "Yarn PreTest"
                command: "yarn run pretest"
            - run:
                name: "Yarn Coverage"
                command: "yarn run coverage"
                no_output_timeout: "10m"
            - run:
                name: "Yarn Coverage-Upload"
                command: "yarn run coverage-upload"
            - run:
                name: "Publish Release"
                command: ./scripts/publish.sh

workflows:
    version: 2
    build:
        jobs:
            - build:
                filters:
                    tags:
                        only: /.*/             
